<!DOCTYPE html>
<html>
  <head>
    <title>Donutgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

  </head>
  <body>
    <%= render 'layouts/nav'%>

    <div class="container">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
        <%= yield %>
      </div>
      
  </body>
  <%= render 'layouts/navigation/footer' %>
</html>
