<!DOCTYPE html>
<html>
  <head>
    <title>Donutgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

  </head>
  <body>
    <%= render 'layouts/navigation/layout'%>
    <div class="container">
        <div class="abs-center-x">
          <% flash.each do |a, b| %>
            <div class="alert alert-success"><%= b %>
            </div>
            <% end %>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
      </div>
    </div>

  </body>
  <%= render 'layouts/navigation/footer' %>
</html>
